<!-- ADMIN ONLY -->
<%- include('../partials/header') %>
<h1>Past advices given to <%= trainee.name %></h1>

<% for(let advice of advices) { %>
   Date: <%= advice.date %>
   <br>
   Workout: <%= advice.workout %>
   <br>
   Diet: <%= advice.diet %>
   <br>
   Others: <%= advice.others %>
   <hr>
<% } %>
