<!-- ADMIN ONLY -->
<%- include('../partials/header') %>
<h1>User Details of <%= trainee.name %></h1>
<p>
<% for(let detail of details){%>
    Date: <%= detail.date %>
    <br>
    BMI: <%= detail.bmi %>
    <br>
    Goals: <%= detail.goals %>
    <br>
    Others: <%= detail.others %>
    <hr>
<% } %>
</p>


