<%- include('../partials/header') %>
<%- include ('../partials/messages') %>
<h1>Subscription Information of <%= user.name %></h1>


<% if (subscription == null) { %>
    <%- include('./form.ejs') %>
<% } else if(subscription.date < subscription.expiry) { %>
    <h2>You already have a subscription</h2>
    <p>Expires on: <%= subscription.expiry.toDateString() %></p>
    <p>Time slot: <%= subscription.timeslot %></p>
<% } else { %>
    <%- include('./form.ejs') %>
<% } %>



<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe('pk_test_51IVquXFKW5qJydUO6aEmx8JVccXqVlifGKzEf7OhKPuOjWNASTS7oLw4beb2hLtKqsB19geaoKZoimfZ6f35uknh00IMekg4YZ')
    const elements = stripe.elements()


    const card = elements.create('card')
    card.mount('#card-element')

    const form = document.querySelector('form')
    const errorEl = document.querySelector('#card-errors')

    // Give our token to our form 
    const stripeTokenHandler = token => {
        const hiddenInput = document.createElement('input')
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        form.submit();
    }


    // Create token from card data
    form.addEventListener('submit', e => {
        e.preventDefault();

        stripe
            .createToken(card)
            .then(res => {
                if (res.error) errorEl.textContent = res.error.message;
                else stripeTokenHandler(res.token);
            })
    })
</script>